
<h4> TRAVEL DETAILS <small> for creating a Travel Request </small> </h4> 

<%= bootstrap_form_for(@travel_request, layout: :horizontal) do |f| %>

  <div class="row">
   <div class="col-md-6"> <%= f.text_field :travel_type, label: "Travel Type" %> </div>
    <div class="col-md-6">  <%= f.date_select :trip_end_date, label: "Trip Ends" %> </div>
  </div>

  <div class="row">
    <div class="col-md-6"> <%= f.datetime_select :trip_depart %> </div>
    <div class="col-md-6">  <%= f.datetime_select :trip_return %> </div>
  </div>

  <div class="row">
    <div class="col-md-6"> <%= f.text_field :from_city %> </div>
    <div class="col-md-6"> <%= f.text_field :to_city %> </div>
  </div>
  
  <%= f.submit "Create Travel Request" %> 
<% end %> 